
Skip to content
All gists
Back to GitHub
Sign in
Sign up

Instantly share code, notes, and snippets.
@samstewart
samstewart/macos_x_ios_gitignore
Created 11 years ago

0

    1

Code
Revisions 1
Forks 1
.gitignore file for Mac OS X and iOS applications
macos_x_ios_gitignore
# Exclude the build directory
build/*
 
# Exclude temp nibs and swap files
*~.nib
*.swp
 
# Exclude OS X folder attributes
.DS_Store
 
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
to join this conversation on GitHub. Already have an account? Sign in to comment
Footer
© 2022 GitHub, Inc.
Footer navigation

    Terms
    Privacy
    Security
    Status
    Docs
    Contact GitHub
    Pricing
    API
    Training
    Blog
    About

