/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
} */

#product-overview {
  background: linear-gradient(to top, rgba(240, 212, 66, 0.7), transparent),
    url('freedom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(to left bottom, #fbc35d, #dd8b97);*/
  /*background-image: radial-gradient(circle at top, #fbc35d, #f467ab); */
  width: 100vw;
  height: 60vh;
  /*margin-top: 3.5rem; */
  position: relative;
}

#product-overview h1 {
  color: #b22148;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

@media (min-width: 40rem) {
  #product-overview {
    height: 75vh;
    background-position: 50% 25%;
  }
  #product-overview h1 {
    font-size: 2.6rem;
  }
}

.section-title {
  color: #b22148;
  text-align: center;
  font-size: 1.75rem;
}

/*.plan__list {
  width: 100%;
  margin: auto; 
  text-align: center;
} */

.plan {
  background: #b55b7f;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  /*display: inline-block; */
  width: 100%;
  color: #fdf3be;
}

.plan--highlighted {
  background: #b22148;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  color: #fefdf5;
}

.plan__annotation {
  background: #fefdf5;
  color: #b22148;
  padding: 0.5rem;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plan {
    /*display: inline-block; */
    width: 30%;
    /*vertical-align: middle; */
    min-width: 13rem;
    max-width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 28rem;
  }
  .plan--highlighted {
    box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    height: 30rem;
    z-index: 50;
  }
}

.plan__features li {
  margin: 8px 0;
}

#key-features {
  background: #fbc35d;
  margin-top: 5rem;
  padding: 1rem;
  color: #b22148;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/*.key-feature {
  display: inline-block; 
  width: 30%; 
  vertical-align: top;
} */

.key-feature__image {
  background: #dd8b97;
  width: 128px;
  height: 128px;
  border: 2px solid #fefdf5;
  border-radius: 50%;
  margin: auto;
  padding: 1.5rem;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

@media (min-width: 40rem) {
  .key-feature {
    /* display: inline-block; */
    width: 30%;
    /* vertical-align: top; */
    max-width: 25rem;
  }
  .key-feature__list {
    display: flex;
    justify-content: center;
  }
}

.main-header {
  width: 100%;
  background: #b22148;
  padding: 1rem 1.5rem;
}

/* MODAL STYLES */
.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: #fefdf5;
  padding: 1rem;
  border: 2px solid #f467ab;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal-title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #dd8b97;
  background: #dd8b97;
  text-decoration: none;
  color: #fefdf5;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #b55b7f;
  border-color: #b55b7f;
}

.modal__action--negative {
  background: #b22148;
  border-color: #b22148;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #b55b7f;
  border-color: #b55b7f;
}
