* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#product-overview {
  background: linear-gradient(to top , rgba(240, 212, 66, 0.7), transparent), url('freedom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(to left bottom, #fbc35d, #dd8b97);*/
  /*background-image: radial-gradient(circle at top, #fbc35d, #f467ab); */
  width: 100vw;
  height: 75vh;
  margin-top: 2.75rem;
  position: relative;
}

#product-overview h1 {
  font-size: 2rem;
  color: #fefdf5;
  position: absolute;
  bottom: 5%;
  left: 3%;
}

.section-title {
  color: #b22148;
  text-align: center;
  font-size: 1.75rem;
}

#product-overview h1 {
  color: #b22148;
}

.plan__list {
  width: 80%;
  margin: auto; 
  text-align: center;
}

.plan {
  background: #b55b7f;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  color: #fdf3be;
}

.plan--highlighted {
  background: #b22148;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  color: #fefdf5;
}

.plan__annotation {
  background: #fefdf5;
  color: #b22148;
  padding: 8px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__feature {
  margin: 8px 0;
}

.plan__features li {
  margin: 8px 0;
}

#key-features {
  background: #fbc35d;
  margin-top: 80px;
  padding: 16px;
  color: #b22148;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #dd8b97;
  width: 128px;
  height: 128px;
  border: 2px solid #fefdf5;
  border-radius: 50%;
  margin: auto;
  padding: 20px;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
}

.main-header {
  width: 100%;
  background: #b22148;
  padding: 1rem 1.5rem;
}


