* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

#product-overview {
  background: url('freedom.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  padding: 10px;
  margin-top: 45px;
  position: relative;
}

#product-overview h1 {
  font-size: 32px;
  color: #fefdf5;
}

.section-title {
  color: #b22148;
  text-align: center;
  font-size: 28px;
}

#product-overview h1 {
  color: #b22148;
}

.plan__list {
  width: 80%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #b55b7f;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
  color: #fdf3be;
}

.plan--highlighted {
  background: #b22148;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  color: #fefdf5;
}

.plan__annotation {
  background: #fefdf5;
  color: #b22148;
  padding: 8px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 8px 0;
}

#key-features {
  background: #fbc35d;
  margin-top: 80px;
  padding: 16px;
  color: #b22148;
}

.key-feature__list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.key-feature {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

.key-feature__image {
  background: #dd8b97;
  width: 128px;
  height: 128px;
  border: 2px solid #fefdf5;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.main-header {
  width: 100%;
  background: #b22148;
  padding: 20px 16px;
}


