* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #b22148;
  padding: 20px 16px;
  z-index: 1;
}

/* we want the logo to appear on the same line as the navigation links so make it inline-block */
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  color: #b22148;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  background: #fbc35d;
  padding: 9px 15px;
  margin-right: 40px;
  border-radius: 12px;
}
.main-nav {
  display: inline-block;
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: #ffebbf;
  border: 2px solid #ffebbf;
  padding: 10px 20px;
  position: relative;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #f59330;
  border: 2px solid #f59330;
}

.main-footer {
  background: #170703;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 16px;
}

.main-footer__link a {
  color: #fdf3be;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #fbc35d;
}

.button {
  background: #b22148;
  border: 2px solid #fefdf5;
  font: inherit;
  padding: 10px 12px;
  border-radius: 6px;
  color: #fefdf5;
  margin: 12px 0;
  cursor: pointer;
}

/* Get rid of the blue outline that appears by default on 'focus' */
.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #fefdf5;
  color: #b22148;
}

.button--highlighted {
  background: #fefdf5;
  color: #b22148;
  font-weight: bold;
}

.button--highlighted:hover {
  background: #b22148;
  color: #fefdf5;
}

