* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/* Styles for Modal in page */
.backdrop {
  position: fixed;
  display: none; 
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #b22148;
  padding: 0.5rem 1rem;
  z-index: 1;
}

/* we want the logo to appear on the same line as the navigation links so make it inline-block */
.main-header > div {
  display: inline-block;
  vertical-align: middle;
}
.main-header__brand {
  color: #b22148;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.25rem;
  width: 50px;
  display: inline-block;
}

.main-header__brand img {
  width: 100%;
}
.main-nav {
  display: inline-block;
  text-align: right;
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 1rem;
}

.main-nav__item a {
  text-decoration: none;
  color: #ffebbf;
  position: relative;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #f59330;
}

.main-footer {
  background: #170703;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  color: #fdf3be;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #fbc35d;
}

.button {
  background: #b22148;
  border: 2px solid #fefdf5;
  font: inherit;
  padding: 0.6rem 0.75rem;
  border-radius: 6px;
  color: #fefdf5;
  margin: 0.75rem 0;
  cursor: pointer;
}

/* Get rid of the blue outline that appears by default on 'focus' */
.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #fefdf5;
  color: #b22148;
}

.button--highlighted {
  background: #fefdf5;
  color: #b22148;
  font-weight: bold;
}

.button--highlighted:hover {
  background: #b22148;
  color: #fefdf5;
}
