@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

/*main {
  min-height: calc(100vh - 3.5rem - 8rem);
  margin-top: 3.5rem;
} */

/* Styles for Modal in page */
.backdrop {
  position: fixed;
  display: none; 
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.main-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #b22148;
  padding: 0.5rem 1rem;
  z-index: 60; 
  display: flex;
  align-items: center;
  justify-content: space-between; 
}

/* we want the logo to appear on the same line as the navigation links so make it inline-block */
/*.main-header > div {
  display: inline-block; 
  vertical-align: middle;
} */

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding-top: 0;
  padding-bottom: 0;
  vertical-align: middle;
}

.toggle-button:focus {
   outline:  none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: #fff6a7;
  display: block;
  margin: 0.6rem 0;
}

.main-header__brand {
  color: #adbda4;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem; 
  display: inline-block; 
  /*height: 2.5rem; */
  width: 50px; 
  /*display: inline-block; 
  vertical-align: middle; */
}

.main-header__brand img {
  height: 2.5rem;
  vertical-align: middle;
  /*width: 100%; */
}
.main-nav {
  /*display: inline-block;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 44px); */
  display: none;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none; 
  /* make this declaration a flexbox container for each .main-nav__item*/
  display: flex;

}

.main-nav__item {
  /*display: inline-block; */
  margin: 0 1rem;
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  color: #ffebbf;
  /*position: relative; */
  font-weight: bold;
  padding: 0.2rem 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: #fefdf5;
  border-bottom: 2px solid #fefdf5;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: #b55b7f;
  background: #fbc35d;
  padding: 0.5rem 1rem;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #fbc35d;
  background: #b55b7f;
  border: none;
}

@media (min-width: 40px) {
  .toggle-button {
    display: none;
  }
  .main-nav {
    /*display: inline-block; 
    text-align: right;
    width: calc(100% -44px); 
    vertical-align: middle; */
    display:flex;
  } 
}

.main-footer {
  background: #170703;
  padding: 2rem;
  margin-top: 3rem;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
 /* text-align: center; */
 display: flex;
 flex-direction: column;
 align-items: center;
}

.main-footer__link {
  /*display: block; */
  margin: 1rem 0;
  padding: 0.3rem;
}

.main-footer__link a {
  color: #fdf3be;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: #fbc35d;
}

/* Mobile Nav Styles */
.mobile-nav {
  display: none; 
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: #463d3a;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
 /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.button {
  background: #b22148;
  border: 2px solid #fefdf5;
  font: inherit;
  font-weight: bold;
  padding: 0.6rem 0.75rem;
  border-radius: 6px;
  color: #fefdf5;
 /* margin: 0.75rem 0; */
  cursor: pointer;
}

/* Get rid of the blue outline that appears by default on 'focus' */
.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #fefdf5;
  color: #b22148;
}

.button--highlighted {
  background: #fefdf5;
  color: #b22148;
  font-weight: bold;
}

.button--highlighted:hover {
  background: #b22148;
  color: #fefdf5;
}

.button[disabled] {
  cursor: not-allowed;
  border: #a1a1a1;
  background: #ccc;
  color: #a1a1a1;
}

.open {
  display: block !important;
}

@media (min-width: 40rem) {
  .mobile-nav {
    display: none
  }
  .main-footer__link {
    /*display: inline-block; */
    margin: 0 1rem;
  }
  .main-footer__links {
    flex-direction: row;
    justify-content: center;
  }
}
