main {
  padding-top: 2rem;
}

.background {
  background: url('../images/plans-background.jpg') center/cover;
  filter: grayscale(60%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  margin: 1rem 0;
  border: 4px solid #b22148;
  border-left: none;
  position: relative;
}

.package:hover,
.package:active {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  border-color: #f59330;
}

.package a {
  text-decoration: none;
  color: #b22148;
  display: block;
  padding: 2rem;
}

.package__subtitle {
  color: #f59330;
}

.package__info {
  padding: 1rem;
  border: 1px solid #b55b7f;
  font-size: 1.2rem;
  background: #fefdf5;
}

.package__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1.2rem;
  font-size: 0.75rem;
  color: #fefdf5;
  background: #b22148;
  padding: 0.5rem;
}

.clearfix {
  clear: both;
}

#plus {
  background: #f0d442;
  margin-top: 80px;
}

#free {
  background: #ffebbf;
  float: right;
  border-right: none;
  border-left: 4px solid #b22148;
  text-align: right;
}

#free:hover,
#free:active {
  border-left-color: #f59330;
}

#premium {
  background: #fdf3be;
}
